.road {
    flex: 1;
    position: relative;
    margin: -2px auto;
    z-index: -1;
    min-height: 50px;
    display: flex;
    justify-content: center;
    width: 64px;
}

.time-bubble {
    background-color: #2e303e58;
    /* border: 1px solid #ddd; */
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 11px;
    position: absolute;
    white-space: nowrap;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 3;
    top: 25%;
}

.station {
    background-color: rgb(46,48,61);
    border-radius: 12px;
    padding: 4px 8px;
    z-index: 2;
    max-width: 128px;
    margin: auto;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
sub,small {
    color: #999;
    font-size: 12px;
    text-align: center;
    display: block;
    margin-top: 0;
}
h2 {
    text-align: center;
}

/* span {
    display: block;
    margin-top: 4px;
    color: #999;
    font-size: 12px;
} */